* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #69a3f0; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px 20px; 
    border-radius: 10px;
  }
  
  .logo {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
  }

  .logo span {
    color: #000000;
    font-style: initial;
  }

  .menu {
    display: flex;
    gap: 20px; 
    list-style: none;
  }
  
  .menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: 550;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .hero {
    padding: 40px;
    border-radius: 5px;
    background-image: url(images/Image.png);
    background-size: cover;
    background-position: unset;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgba(59, 68, 237, 0.5);
    font-size: 36px;
  }
  
  .about {
    padding: 20px;
    font-size: 16px;
    line-height: 1.7;
  }
  
  